:root{
  --light-color: #36D1DC;
  --dark-color: #5B86E5;
  --baner-color-chrome: -webkit-linear-gradient(to right, #5B86E5,#36D1DC);
  --baner-color-firefox-ie: linear-gradient(to right, #5B86E5,#36D1DC);
}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
/* Fonts */
  /* Titulo */
      /*Preferidas*/
      @import url('https://fonts.googleapis.com/css?family=Anton');
  /* Descrição */
      /*Preferidas*/
/* index */
.content{
    overflow: hidden;
  }
  .container-fluid{
    margin: 40px auto;
  }
  section div{
    padding: 0;
  }
  @media (max-width: 48em) {
    .content{
        padding-top: 5vw;
      }
  }
#navbar{
    color: #000;
    padding: 10px 0px 10px 0px;
    background: #fff;
    border-bottom: 0px;
    box-shadow: 0 4px 2px -2px rgba(226, 226, 226, 0.5);
  }
  .navbar-default .navbar-collapse{
    border: transparent;
  }
  #navbar .navbar-left li a{
    font-size: 10px;
    letter-spacing:2px;
    color: #000;
    }
  #navbar .navbar-left li:not(:first-child):before {
      content: " | ";
      position: absolute;
      top: 30%;
      left:-2px;
      color: #fff;
  }
  #navbar .navbar-left li a:hover{
      color: #c4c4c4;
  }
  #navbar .navbar-right li{
    position: relative;
  }
  #navbar .navbar-right li a{
    font-size: 40px;
    color: #333;
    top: -10px;
    left: -40px;
    position: absolute;
  }
  #navbar .navbar-right li a:hover{
    background-color: #333;
    color: #fff;
  }
  #navbar .navbar-brand svg{
    margin-top:-10px;
    height:50px
  }
  #navbar .navbar-toggle {
    background: transparent;
    right: 0;
    border: none;
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transform: translate(0%, -50%);
  }
  #navbar .navbar-toggle span,
  #navbar .navbar-toggle span:before,
  #navbar .navbar-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 30px;
    background: red;
    position: absolute;
    left: 0;
    top: 80%;
    display: block;
    content: '';
  }
  #navbar .navbar-toggle span:before {
    top: -10px;
  }
  #navbar .navbar-toggle span:after {
    top: 10px;
  }
  #navbar .navbar-toggle span,
  #navbar .navbar-toggle span:before,
  #navbar .navbar-toggle span:after {
    transition: all 0.3s ease-in-out;
  }
  #navbar .navbar-toggle.active span {
    background-color: transparent;
    transition: all 0.1s ease-in-out;
  }
  #navbar .navbar-toggle.active span:before,
  #navbar .navbar-toggle.active span:after {
    top: 0;
  }
  #navbar .navbar-toggle.active span:before {
    transform: rotate(135deg);
  }
  #navbar .navbar-toggle.active span:after {
    transform: rotate(-135deg);
  }
  @media (max-width: 48em) {
    #navbar .navbar-right{
      display: none;
    }
    #navbar .navbar-left{
      text-align: center;
    }
    #navbar .navbar-brand svg{
      margin-top:-5px;
      height:40px
    }
  }
#banner{
  margin: 0;
  background: #36D1DC;
  background: var(--baner-color-chrome);
  background:var(--baner-color-firefox-ie);
  padding: 10% 0%;
  }
  #banner .text{
    padding: 0px 100px;
  }
  #banner h1{
    font-family: 'Anton', sans-serif;
    color: #fff;
    font-weight: 800;
    font-size: 80px;
  }
  #banner h3{
    font-family: 'Anton', sans-serif;
    color: #fff;
    font-weight: 800;
    font-size: 50px;
  }
  @media (max-width: 48em) {
    #banner .text{
      padding: 0px 10px;
    }
    #banner h1{
      font-weight: 800;
      font-size: 8vw;
    }
    #banner h3{
      font-family: 'Anton', sans-serif;
      color: #fff;
      font-weight: 800;
      font-size: 5vw;
    }
  }
#project{
  }
  #project h1{
    font-family: 'Anton', sans-serif;
    color: #333;
    font-weight: 800;
    margin: 80px 0px 80px 0px;
    text-transform: uppercase;
  }
  #project .item{
    text-align: center;
    color: #000;
    font-size: 3em;
  }
  #project .item figure img{
    text-align: center;
    width: 50%;
  }
  #project .item figure figcaption p{
    font-weight: 300;
    color: #333;
    font-size: 20px;
  }
#about{
   margin-bottom: 40px;
  }
  #about h1{
    font-family: 'Anton', sans-serif;
    color: #333;
    font-weight: 800;
    margin: 80px 0px 80px 0px;
    text-transform: uppercase;
  }
  #about .item .text{
      width:200px;
  }
  #about .item div{
  }
  #about .item div ul{
    list-style: none;
  }
  #about .item div a{
    display: inline;
    font-size: 30px;
    color: #333;
  }
  #about .item figure{
    position: relative;
    width:200px;
    height:200px;
    border-radius: 50%;
    overflow: hidden;
  }
  #about .item figure img{
    width: 100%;
  }
  @media (max-width: 48em) {

  }
/* end index */
.content-entrega{
  margin-top: 50px;
  }
  .entrega h1{
    font-family: 'Anton', sans-serif;
    color: #333;
    font-weight: 800;
    margin: 80px 0px 5px 0px;
    text-transform: uppercase;
  }
label{
  display: block;
}

.botao{
  text-align: center;
}

input[type=text]{
  width: 200px;
}

.content{
  padding: 40px;
}